
@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto.ttf");
}

body{
    margin:0px;
}

:root{
    font-family: "roboto",sans-serif;
    --color-50: #EEF2FF;
    --color-100: #E0E7FF;
    --color-200: #C7D2FE;
    --color-300: #A5B4FC;
    --color-400: #818CF8;
    --color-500: #6366F1;
    --color-600: #4F46E5;
    --color-700: #4338CA;
    --color-800: #3730A3;
    --color-900: #312E81;
}

ul{
    list-style: none;
    margin: 50px 25px;
    padding: 0px;
    height: 200px;
}

a{
    text-decoration: none;
    color:inherit;
}

#sidebar img{
    filter: invert(95%) sepia(93%) saturate(7056%) hue-rotate(179deg) brightness(107%) contrast(106%);
}

#container{
    display:grid;
    grid-template-rows: 170px 1fr ;
    grid-template-columns: 250px 1fr;
}


#sidebar{
    background-color: var(--color-900);
    color: var(--color-50);
    grid-row-start: 1;
    grid-row-end: -1;
}

#banner{
    display: flex;
    padding:15px;
    align-items: center;
    font-size: 25px;
    gap:10px;
}

.bannerIcon{
    width: 40px;
}

.option{
    display: flex;
    gap:26px;
    margin:10px 0px;
    align-items: center;
}

.option:hover{
    border:1px solid white;
    margin:0px 10px;
    padding:2px;
}

#header{
    background-color: var(--color-50);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 110px;
}

.headerLeft{
    padding-left: 20px;
    display: flex;
    align-items:center;
    gap:10px;

}

.searchfield{
    outline:none;
    border-radius: 10px;
    border:none;
    height:25px;
}

.headerRight{
    display: flex;
    align-items:center;
    gap:20px;
    justify-content: flex-end;
    padding-right: 70px;
    font-weight: 900;
    font-size: 20px;

}

.profile{
    border-radius: 50%;
    width: auto;
}

.headerRight .profile{
    height: 40px;
}

.navBarLeft{
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap:20px
}

.userName{
    font-weight: bold;
}

.hi{
    font-size: 13px;
    margin-bottom: 5px;
}

.fullName{
    font-size: 20px;
}

.navBarLeft .profile{
    height: 80px;
}

#content{
    background-color: coral;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#projects{
    grid-row: 1 / span 2;
}

#announcements{

}

#trending{

}

