
@font-face {
    font-family: 'roboto';
    src: url("./fonts/roboto.ttf");
}

body{
    margin:0px;
}

:root{
    font-family: "roboto",sans-serif;
    --color-50: #EEF2FF;
    --color-100: #E0E7FF;
    --color-200: #C7D2FE;
    --color-300: #A5B4FC;
    --color-400: #818CF8;
    --color-500: #6366F1;
    --color-600: #4F46E5;
    --color-700: #4338CA;
    --color-800: #3730A3;
    --color-900: #312E81;
}

::selection{
    background-color: var(--color-400);
}

ul{
    list-style: none;
    margin: 50px 25px;
    padding: 0px;
    height: 200px;
}

a{
    text-decoration: none;
    color:inherit;
}

#sidebar img{
    filter: invert(95%) sepia(93%) saturate(7056%) hue-rotate(179deg) brightness(107%) contrast(106%);
}

#container{
    display:grid;
    grid-template-rows: 170px 1fr ;
    grid-template-columns: 250px 1fr;
}


#sidebar{
    background-color: var(--color-900);
    color: var(--color-50);
    grid-row-start: 1;
    grid-row-end: -1;
}

#banner{
    display: flex;
    padding:15px;
    align-items: center;
    font-size: 25px;
    gap:10px;
}

.bannerIcon{
    width: 40px;
}

.option{
    display: flex;
    gap:26px;
    margin:10px 0px;
    align-items: center;
}

.option:hover{
    border:1px solid white;
    margin:0px 10px;
    padding:2px;
}

#header{
    background-color: var(--color-50);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 110px;
}

.headerLeft{
    padding-left: 20px;
    display: flex;
    align-items:center;
    gap:10px;

}

.searchfield{
    outline:none;
    border-radius: 10px;
    border:none;
    height:25px;
    padding: 0px 10px;
}

.headerRight{
    display: flex;
    align-items:center;
    gap:20px;
    justify-content: flex-end;
    padding-right: 70px;
    font-weight: 900;
    font-size: 20px;

}

.profile{
    border-radius: 50%;
    width: auto;
}

.headerRight .profile{
    height: 40px;
}

.navBarLeft{
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap:20px
}

.userName{
    font-weight: bold;
}

.hi{
    font-size: 13px;
    margin-bottom: 5px;
}

.fullName{
    font-size: 20px;
}

.navBarLeft .profile{
    height: 80px;
}

.navBarRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 50px;
}

.navButton{
    height: 40px;
    width: 100px;
    background-color: var(--color-600);
    border:0px;
    border-radius: 15px;
    font-weight: 700;
    color:var(--color-100);
    cursor:pointer;
}

.navButton:active{
    background-color: var(--color-100);
    color:var(--color-600);
}

#content{
    display: grid;
    grid-template-columns: 2.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--color-400);
    padding:22px;
    gap:20px;
}

.contContainer{
    background-color: var(--color-200);
    border-radius: 6px;
    box-shadow: 0px 2px rgb(34, 0, 48);
}

.contText{
    font-size: 19px;
    font-weight:600;
    margin: 10px 0px;
}

#projects{
    grid-row: 1 / span 2;
}

.projectsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    gap:25px;
    grid-auto-rows: 250px;
}

.card{
    width: 100%;
    height: 250px;
    background-color: var(--color-100);
    border-radius: 10px;
    border-left: 10px solid var(--color-700);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    box-shadow: 0px 2px rgb(34, 0, 48);
}

.cardTitle{
    height: 20px;
    font-size: 18px;
    font-weight: 900;
}

.cardContent{
    overflow-y: auto;
    height: 150px;
    font-size: 14px;
}

.cardBar{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    gap:25px;
    padding-right: 15px;
}

.cardBar img{
    cursor: pointer;
}

.ann.contContainer{
    background-color: var(--color-100);
    display: grid;
    grid-template-rows: repeat(3,1fr);
    padding:10px 20px;

}

.announcement{
    border-top: 1px solid var(--color-900);
    border-bottom: 1px solid var(--color-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px
}

.announcement:first-child{
    border-top: 0px;
}

.announcement:last-child{
    border-bottom: 0px;
}

.announcementTitle{
    font-size: 18px;
    font-weight: bold;
}

.announcementContent{
    font-size: 13px;
}


#trending{
    background-color: rgb(26, 189, 39);
}

.tren.contContainer{
    background-color: var(--color-100);
    display: grid;
    grid-template-rows: repeat(4,1fr);
}

